.cart-product-list{
    width: 100%;
    margin-bottom: 130px;

    .list-header {
        font-weight: bold;
        background-color: var(--table-background-color);
        display: flex;
        align-items: center;
        text-align: center;
        height: 60px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;

        
        div:nth-child(1) {
            flex-basis: 55%;
        }
        
        div:nth-child(n+2) {
            flex-basis: 15%;
        }
    }

    .product-cnt{
        padding: 20px;
        text-align: end;
    }

}

.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 60vh;

    p:nth-child(2) {
        color: var(--gray-30);
    }

    button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        color: white;
        background: var(--primary-color);
        transition: all 0.2s;
    }
    button:hover {
        transform: scale(1.05);
    }
}