.cart-product-list{
    width: 100%;
    margin-bottom: 130px;

    .list-header {
        font-weight: bold;
        background-color: var(--table-background-color);
        display: flex;
        align-items: center;
        text-align: center;
        height: 60px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;

        
        div:nth-child(1) {
            flex-basis: 55%;
        }
        
        div:nth-child(n+2) {
            flex-basis: 15%;
        }
    }

    .product-cnt{
        padding: 20px;
        text-align: end;
    }

}