.section-header-container {
    margin: 58px 0 29px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    a {
        color: var(--gray-60);
    }

    h2 {
        font-size: 28px;
        font-weight: bold;
    }
}