.cart-product-list-item-container{
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 20px;
    border-bottom: 1px solid #eee;
    
    /* column width*/
    div:nth-child(1) {
        flex-basis: 55%;
    }
    
    div:nth-child(n+2) {
        flex-basis: 15%;
    }

    /* column align (flex) */
    .column {
        display: flex;
        align-items: center;
        justify-content: center;

        b{
            font-weight: bold;
        }
    }

    /* 상품명 영역*/
    .product-info{
        width: 100%;
        justify-content: flex-start;
        gap: 20px;

        img{
            box-sizing: border-box;
            border: 1px solid #eee;
            width: 100px;
            height: 100px;
        }
    }

    /* 가격 영역 */
    .price{
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        .original-price{
            color: var(--gray-60);
            font-size: 0.9em;
        }

    }

    
}